@import '../../variables.scss';

.userCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
    animation: $fade-animation;

    img {
        width: 100%;
        height: 80vh;
    }
}